
<div id="infor"class="container" ng-controller="CustomerInforController as cus">
  <h2 ng-if="cus.customerInfor!=undefined" class="text-center">Customers registered for newsletter</h2>
  <h2 ng-if="cus.customerInfor==undefined" class="text-center">No customer registers for newsletter yet</h2>
  <div class="panel-group" ng-if="cus.customerInfor!=undefined">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-info">
          <div class="panel-heading">Customer Information</div>
          <div class="panel-body">
            <h3 class="text-center"><em>{{cus.customerInfor.cusFirstName | uppercase}} {{cus.customerInfor.cusLastName | uppercase}} </em></h3>
            <ul>
              <li>
                 Customer Email: {{cus.customerInfor.cusEmail}}
              </li>
              <li>
                 Customer Phone Number: {{cus.customerInfor.cusPhone}}
              </li>
              <li>
                 Customer Favorite Menu: {{cus.customerInfor.cusMenu  | uppercase}}
              </li>
            </ul>
            <div class="menu-item-tile col-md-12">
              <div class="row">
                <div class="col-sm-12">
                  <div class="menu-item-photo">
                    <img class="img-responsive" width="250" height="150" src="https://my-restaurant.herokuapp.com/images/{{cus.customerInfor.cusMenu}}.jpg" alt="Item">
                  </div>
                </div>
                <div class="menu-item-description col-sm-12">
                  <h3 class="menu-item-title">{{cus.customerInfor.ObjectMenu.name}}</h3>
                  <p class="menu-item-details">{{cus.customerInfor.ObjectMenu.description}}</p>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
