<div id="signup" class="container" ng-controller="CustomerSignUpController as customerSignUpCtrl">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Please sign up for newsletters</h3>
			 			</div>
			 			<div class="panel-body">
			    		<form role="form" name='regForm' novalidate>
			    	
			    			
			    					<div class="form-group">
						                <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name" required ng-model="customerSignUpCtrl.customer.firstname" minlength="2" >
						                <span ng-if="(regForm.first_name.$error.minlength ||regForm.first_name.$error.required) && regForm.first_name.$touched">
			                            First name is required and at least 2 characters long
			                            </span>
			    					</div>
			    				
			    			
			    					<div class="form-group">
				    					<input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name" required ng-model="customerSignUpCtrl.customer.lastname" minlength="2">
				    					<span ng-if="(regForm.last_name.$error.minlength || regForm.last_name.$error.required) && regForm.last_name.$touched">
	                                    Last name is required and at least 2 characters long
	                                    </span>
			    					</div>
			    				

			    			<div class="form-group">
			    				<input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address" required ng-model="customerSignUpCtrl.customer.email">
			    				<span ng-if="(regForm.email.$error.required) && regForm.email.$touched"> Email is required </span>
			    				<span ng-if="(regForm.email.$error.email) && regForm.email.$touched"> Not valid email !</span>
			    			</div>
			    			<div class="form-group">
			    				<input type="text" name="phone" id="phone" class="form-control input-sm" placeholder="Phone Number" required ng-model="customerSignUpCtrl.customer.phone" pattern="(\d{3})-(\d{3})-(\d{4})">
	                            <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
						            Phone must be required and in the format ###-###-####.
						        </span>
			    			</div>

			    			<div class="form-group">
			    				<input type="text" name="favorite" id="favorite" class="form-control input-sm" placeholder="Favorite Menu Code" ng-model="customerSignUpCtrl.customer.menu" required my-directive>
			    				<span  ng-if="!regForm.favorite.$valid && regForm.favorite.$touched">We Don't Have That Menu Code</span>
			    			</div>
			    			<div class="form-group">
			    				<input type="text" class="form-control input-sm" placeholder="Gender (Optional)">
			    			</div>
			    			
			    	 <button ng-disabled="regForm.$invalid ||customerSignUpCtrl.success==true" ng-click="customerSignUpCtrl.saveCusInformation()">Submit</button>
			    	 <br><span id="success"  ng-if="customerSignUpCtrl.success"> Successful! Thank you for your registration.</span>

			    			
			    		
			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
    </div>